
CONFIG_FOLDER=
TZ=Europe/Amsterdam
# eerst een gebruiken aanmaken op host
PUID=
PGID=
UMASK=

DATA_FOLDER=
NAS_FOLDER=

# poorten
WEBUI_PORT_QBIT=
PROWLARR_PORT= 
RADARR_PORT=
SABNZBD_PORT=
SONARR_PORT=
SEERR_PORT=
NZBDAV_PORT=

# gluetun
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=