
CONFIG_FOLDER=
COMPOSE_FOLDER=
TZ=Europe/Amsterdam
# eerst een gebruiken aanmaken op host
PUID=
PGID=
UMASK=

DATA_FOLDER=
NAS_FOLDER=
BASE_URL=

# poorten
PROWLARR_PORT= 
RADARR_PORT=
SABNZBD_PORT=
SONARR_PORT=
SEERR_PORT=
NZBDAV_PORT=
BOOKLORE_PORT=
HOMEPAGE_PORT=
SHELFMARK_PORT=
WEBUI_PORT_QBIT=
PROFILARR_PORT=
VAULTWARDEN_PORT=
WALLOS_PORT=
SWIPARR_PORT=
MEALIE_PORT=
OPENWEBUI_PORT=
JELLYFIN_PORT=
DISPATCHARR_PORT=
BAZARR_PORT=
PORTNOTE_PORT=
DOCKHAND_PORT=
SUGGESTARR_PORT=
DONETICK_PORT=
MOVIE_ROULETTE_PORT=
NPM_PORTAL_PORT=
NPM_HTTP_PORT=
NPM_HTTPS_PORT=
PAPERLESS_PORT=
IMMICH_PORT=
SPOTWEB_PORT=
DONETICK_PORT=
SEARXNG_PORT=

# gluetun
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=
NZBDAV_WIREGUARD_PRIVATE_KEY=
NZBDAV_WIREGUARD_ADDRESSES=

# booklore
DATABASE_URL=jdbc:mariadb://mariadb:3306/booklore
DB_USER=booklore
DB_PASSWORD=ChangeMe_BookLoreApp_2025!
DB_USER_ID=change_me
DB_GROUP_ID=change_me
MYSQL_ROOT_PASSWORD=ChangeMe_MariaDBRoot_2025!
MYSQL_DATABASE=booklore

# homepage
HOMEPAGE_ALLOWED_HOSTS=

# swiparr
URL_SWIPARR=

# portnote
PORTNOTE_JWT_SECRET=
PORTNOTE_USER_SECRET=
PORTNOTE_LOGIN_USERNAME=
PORTNOTE_LOGIN_PASSWORD=
PORTNOTE_DATABASE_URL=

# tailscale
TAILSCALE_AUTH_KEY=

# mealie
ALLOW_SIGNUP=false
DEFAULT_GROUP=
DEFAULT_EMAIL=
DEFAULT_HOUSEHOLD =

# paperless
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# immich
UPLOAD_LOCATION= # The location where your uploaded files are stored
DB_DATA_LOCATION= # The location where your database files are stored. Network shares are not supported for the database
IMMICH_VERSION=v2
DB_PASSWORD_IMMICH=
DB_USERNAME_IMMICH=postgres
DB_DATABASE_NAME_IMMICH=immich

# Spotweb
MYSQL_USER_SPOTWEB=
MYSQL_PASSWORD_SPOTWEB=
MYSQL_ROOT_PASSWORD_SPOTWEB=

# searxng
SEARXNG_HOST=

# donetick
DT_JWT_SECRET_DONETICK=