
CONFIG_FOLDER=
TZ=Europe/Amsterdam
# eerst een gebruiken aanmaken op host
PUID=
PGID=
UMASK=

DATA_FOLDER=
NAS_FOLDER=
BASE_URL=

# poorten
WEBUI_PORT_QBIT=
PROWLARR_PORT= 
RADARR_PORT=
SABNZBD_PORT=
SONARR_PORT=
SEERR_PORT=
NZBDAV_PORT=
BOOKLORE_PORT=
HOMEPAGE_PORT=
SHELFMARK_PORT=
SABNZBD_PORT=
WEBUI_PORT_QBIT=
PROFILARR_PORT=
VAULTWARDEN_PORT=
WALLOS_PORT=
SWIPARR_PORT=
MEALIE_PORT=
OPENWEBUI_PORT=
JELLYFIN_PORT=
DISPATCHARR_PORT=
BAZARR_PORT=
PORTNOTE_PORT=
DOCKHAND_PORT=
SUGGESTARR_PORT=

# gluetun
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=

# booklore
DATABASE_URL=jdbc:mariadb://mariadb:3306/booklore
DB_USER=booklore
DB_PASSWORD=ChangeMe_BookLoreApp_2025!
DB_USER_ID=change_me
DB_GROUP_ID=change_me
MYSQL_ROOT_PASSWORD=ChangeMe_MariaDBRoot_2025!
MYSQL_DATABASE=booklore

# homepage
HOMEPAGE_ALLOWED_HOSTS=

# swiparr
URL_SWIPARR=192.168.1.74:8096

# portnote
PORTNOTE_JWT_SECRET=
PORTNOTE_USER_SECRET=
PORTNOTE_LOGIN_USERNAME=
PORTNOTE_LOGIN_PASSWORD=
PORTNOTE_DATABASE_URL=

# tailscale
TAILSCALE_AUTH_KEY=